.angular-google-map-container {
	height: 640px;
	position: static;
	z-index: 0;
	top: 0px;
}
.container-fluid {
	margin: 0 0 0 0;
	padding-left: 0;
	padding-right: 0;
}
.left-panel {
	position: absolute;
	left: 0px;
	width: 240px;
	height: 100%;
	z-index: 10;
	top:72px;

}
.right-panel {
	position: absolute;
	right: 40px;
	top:400px;
	width: 220px;
	height: 20%;
	z-index: 10;
}
.panel-heading{
    height:35px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.panel-body{

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
}
body { padding-bottom: 70px; }
.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}
.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
  }

#pac-input:focus {
	border-color: #4d90fe;
	margin-left: 5px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

