<div class="modal" tabindex="-1" role="dialog" ng-controller="addTagCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Hello, modal</h4>
      </div>
      <div class="modal-body">
      	<h1>This is a test <small>of the modal testing system</small></h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>
