
<div class="jumbotron">

    <p class="bg-primary">The basic idea is to provide students with different data sources that might be interesting for the kids such as neighborhood medium incomes, gun ownership, IT accessibility, grocery stores, pollution. Students will be able to choose a color coding based on parameter selected and graphic display will help in quantifying the visual intuition.
    User will also be able to add shapes on the map that would be helpful for the user to take an account of places he/she likes or dislikes.
    </p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>