<div>
  <address>
    <strong>{{clickedPoint.name}}</strong>
    <span ng-repeat="line in clickedPoint.address"><br>{{line}}</span>
  </address>
</div>
<form class="form-horizontal">

  <div class="input-group">
    <div class="input-group-addon">Tags</div>
    <tags-input ng-model="tags" placeholder="Add Tags">
      <auto-complete source="availableTags" min-length="1"></auto-complete>
    </tags-input>
    <span class="input-group-btn">
      <button class="btn btn-primary last-btn-fix" type="button" ng-click="pushTags()" ><span class="glyphicon glyphicon-floppy-disk"></span></button> 
    </span>
  </div><!-- /input-group -->
</form>
<div>
  <table ng-show="{{dataList}}">
    <!--<thead ng-show="{{false}}">
      <tr>
        <th class="label">Label</th>
        <th>Data</th>
      </tr>
    </thead>-->
    <tbody id="data-table">
      <tr ng-repeat="(label, data) in dataList">
        <td class="table-label">{{label}}</td>
        <td><a href="{{data}}" ng-show="data.indexOf('http://') == 0">{{data}}</a><span ng-show="data.indexOf('http://') != 0">{{data}}</span></td>
      </tr>
    <tbody>
  </table>
</div>