<div id="grandparent" class="list-group panel">
  <div class="list-group-item list-group-item-info" data-parent="#grandparent">
    <form novalidate class="simple-form">
      <div class="input-group input-group-sm">
        <input type="text" ng-model="findLocation.search" class="form-control" ng-autocomplete details="findLocation.details" options="findLocation.options" placeholder="Find a location" ng-keyup="$event.keyCode == 13 ? recenterMap() : null"/>

        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="recenterMap()" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </div>
    </form> 
  </div>

  <div ng-controller="DatasetListController as datasetListCtrl">
    <a href="#datasetList" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#grandparent">Datasets<span class="badge">{{ datasets.length }}</span></a>
    <div class="collapse in" id="datasetList">
      <div class="list-group-item">
        <div class="input-group input-group-sm input-group-btn">
          <button id="refresh-but" class="btn btn-primary btn-sm" ng-click="refreshMap()"><span class="glyphicon glyphicon-refresh"></span></button>
          <button id="stop-but" class="btn btn-primary btn-sm"type="button" ng-click="stopStart()"><span class="glyphicon glyphicon-stop" ng-show="!stop"></span><span class="glyphicon glyphicon-play" ng-show="stop"></span></button>
          <!--<button id="cluster-but" class="btn btn-primary btn-sm" type="button" ng-click="saveState()">cluster points</button>-->
        </div>
      </div>
      <div class="list-group-item" ng-repeat="(datasetId, dataset) in datasets">
        <input type="checkbox" ng-model="dataset.active" ng-change="toggleActivatedDataset(getDataset($index))"><span ng-style="colors[dataset.id]" class="glyphicon glyphicon-map-marker"></span>{{ dataset.name }}<span class="badge">{{ dataset.count }}</span></input>
      </div>
    </div>
  </div>

  <div ng-controller="FilterController as filterCtrl">
    <!--filter part!-->
    <a href="#filterPanel" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#grandparent">Filter</a>
    <div class="collapse" id="filterPanel">
      <form novalidate class="simple-form">
        <div class="input-group input-group-sm list-group-item">
          <tags-input ng-model="tags" placeholder="Filter by Tag" >
            <auto-complete source="getActiveTags()" min-length="1"></auto-complete>
          </tags-input>
          <span class="input-group-btn">
            <button class="btn btn-primary middle-btn-fix" type="button" ng-click="runFilter();applyFilter()"><span class="glyphicon glyphicon-filter"></span></button>
            <button class="btn btn-primary last-btn-fix" type="button" ng-click="clearTags();applyFilter()" ><span class="glyphicon glyphicon-remove-circle"></span></button> 
          </span>
          <input type="radio" ng-model="matchAll" ng-value="false" checked><span class="label label-primary" >Match Any</span>
          <input type="radio" ng-model="matchAll" ng-value="true" checked><span class="label label-primary" >Match All</span>
        </div><!-- /input-group -->
      </form>
    </div>
  </div> <!--end datasetlistctrl scope-->
</div>


