<div class="right-panel">
  <form novalidate class="simple-form">
    <div class="input-group input-group-sm">
      <input id="pac-input" type="text" id="Autocomplete1" class="form-control" placeholder="Search dataset by places"
      ng-model="autocomplete" ng-autocomplete="result"  details="details" data-animation="am-flip-x" ng-options="options">
      <span class="input-group-btn">
        <button class="btn btn-primary glyphicon glyphicon-search" ng-click="convertCoords()" type="button"></button>
        <button class="btn btn-primary glyphicon glyphicon-refresh" ng-model="singleModel" type="button" ng-click="refreshMap()"></button>
        <button value="Stop Loading" class="btn btn-primary glyphicon glyphicon-stop" type="button" ng-click="saveState()"></button>
        <!--<button id="clust-but" value="Cluster points on the map" class="btn btn-primary btn-sm" type="button" ng-click="saveState()">cluster</button>-->
      </span>
    </div>
  </form>
  <div id="main-part-panel" class="collapse">
    <ul class="list-group">
      <li class="list-group-item">
      <!-- panel body -->
        <div id="dataset-list">
          <form name="myForm">
            <div ng-repeat="dataset in datasets">
                <input type="checkbox" ng-model="selectedSource[source.id]" ng-disabled="selectedSourceDisabled[source.id]" ng-click="onSelect(source.id)">{{ source.name}}</input>
            </div>
          </form>
        </div>
      </li>
      <li class="list-group-item">
        <div id="filter-panel" class="input-group input-group-sm">
            <!--<tags-input ng-model="selectedTag" display-property="tag"  placeholder="Filter by Tag" ng-options="state for state in states">
                    <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
            </tags-input>-->
            <span class="input-group-btn">
              <button class="btn btn-primary glyphicon glyphicon-filter" type="button" ng-click="checkFilter()" ></button>
              <button class="btn btn-primary" type="button" ng-click="Default()" > <span class="glyphicon glyphicon-remove-circle"></span></button> 
            </span>
        </div><!-- /input-group -->
        <div class="input-group">
          <input type="radio" name="matchfilter" ng-model="matchModel" value="any" checked><span class="label label-primary">Match Any</span></input>
          <input type="radio" name="matchfilter" ng-model="matchModel" value="all"><span class="label label-primary">Match All</span></input>

        </div><!-- /input-group -->
      </li>
    </ul>
  </div><!-- panel body -->
</div>
<div class="rel">
  <button id="open-but" type="button" class="btn btn-primary btn-xs glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#main-part-panel"></button> 
</div>

